<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974887645339-kis3vdaqkb65ujclk3ph51ojha895lqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974887645339-kis3vdaqkb65ujclk3ph51ojha895lqd</string>
	<key>API_KEY</key>
	<string>AIzaSyC2LTXHmkWHdmPEv6dyJUYn7fGxU6A0L2U</string>
	<key>GCM_SENDER_ID</key>
	<string>974887645339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelcarroll.Linkbus</string>
	<key>PROJECT_ID</key>
	<string>linkbus-website</string>
	<key>STORAGE_BUCKET</key>
	<string>linkbus-website.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974887645339:ios:c664609e3df102f341d63e</string>
	<key>DATABASE_URL</key>
	<string>https://linkbus-website.firebaseio.com</string>
</dict>
</plist>